 /*color palette
#A8E8F9
#00537A
#013C58
#F5A201
#FFBA42
#FFD35B
*/

* {
  margin: none;
  padding: none;
  ;
}



.cardDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    
}

.card {
    border: 2px solid black;
    border-radius: 10px;
    border-color: #00537A;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    min-width: 100px;
    min-height: 160px;
    padding: 5px 20px;
    margin: 15px;
    background-color: #A8E8F9;

}
