 /*color palette
#A8E8F9
#00537A
#013C58
#F5A201
#FFBA42
#FFD35B
*/

* {
  margin: none;
  padding: none;
  font-family: 'BenchNine', sans-serif;  ;
}



.cardDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    
}

.card {
    border: 2px solid black;
    border-radius: 10px;
    border-color: #00537A;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    min-width: 100px;
    min-height: 160px;
    padding: 5px 20px;
    margin: 15px;
    background-color: #A8E8F9;
}
.workoutName{
    padding: 0px;
    font-size: 25px;
    margin: 0px;
}
.muscleGroup{
  padding: 0px;
    font-size: 18px;
    margin: 0px;
}
.muscleImage {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border-color: #00537A;
}